.headerClass{
  color: rgb(90, 180, 216);
  text-align: center;
}
.body{
  display: flex;
}
.playerInfo{
  width:65%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
